* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato";
}

div.container {
  height: 41.7rem;
}

a {
  color: rgb(94, 94, 94);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #5050dd;
  transition: 0.5s ease-in-out;
}

li {
  list-style: none;
}

.loader {
  background: white;
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  animation: fadeout;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.hero-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  animation: slide-right;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.currency-rate {
  text-align: center;
}

.top-shape {
  position: absolute;
  z-index: -1;
  animation-name: slide-left;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.bottom-shape {
  position: absolute;
  bottom: 0;
  animation-name: slide-left;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.right-shape {
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  float: right;
  animation-name: slide-right;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

div.logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  display: grid;
  align-items: center;
}

.landing {
  /* margin-top: 100px; */
  animation-name: slide-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.landing img {
  margin-top: 100px;
  animation-name: reveal;
  animation-duration: 3s;
  animation-timing-function: ease;
}

.landing-style {
  display: grid;
  justify-content: center;
  position: relative;
  text-align: center;
}

.landing h1 {
  font-size: 2.5rem;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.landing p {
  color: rgb(158, 158, 158);
  font-size: 1rem;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: ease;
}

nav {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 40px;
  z-index: 20;
  right: 0;
  /* margin-right: 150px; */
}

.currency-rates {
  text-align: center;
}

.calc-loader {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  background: white;
  height: 450px;
  width: 400px;
  border-radius: 20px;
  z-index: 300;
  animation: fadeout;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.ratings {
  display: flex;
  padding: 20px;
  justify-content: center;
  color: white;
}

.cur {
  padding-right: 20px;
  text-align: end;
}

.amount {
  text-align: left;
}

.active {
  color: #5050dd;
}

.text-align {
  text-align: center;
}

.card {
  /* text-align: center; */
  display: grid;
  justify-content: center;
  /* background: white; */
  margin: auto;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
  animation-name: slide-right;
  animation-duration: 1s;
  animation-timing-function: ease;
}

#convert-to {
  color: white;
}

.card h2,
.card p {
  text-align: center;
}

.card input {
  width: 200px;
  height: 40px;
  border-bottom: 0.5px solid rgb(189, 189, 189);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: none;
  text-align: center;
  font-family: lato;
  font-size: 1.5rem;
  color: rgb(94, 94, 94);
}

.animate {
  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.fade-out {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

small.to {
  color: white;
}

select {
  width: 80px;
  height: 40px;
  /* font-weight: bold; */
  font-family: lato;
  font-size: 1.5rem;
  border-bottom: 0.5px solid rgb(189, 189, 189);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: none;
  color: rgb(94, 94, 94);
  text-align: center;
}

option {
  background: none;
  border: none;
}

.converter {
  padding-top: 20px;
  position: relative;
  z-index: 20;
  /* left: 100px; */
}

.symbol-currency {
  color: white;
}

.symbol-currency:focus {
  background: grey;
  /* color: black; */
}

#conver-to {
  /* color: white; */
}

small.rate {
  color: white;
}

.converter p {
  margin-bottom: 30px;
  color: rgb(158, 158, 158);
}

.converter .rate {
  font-weight: bold;
  /* font-size: 1.5rem; */
  /* color: rgb(94, 94, 94); */
}

.convert-card {
  /* position: absolute;
  left: 0; */
}

div#placeholder {
  color: white;
}

#convert-to::-webkit-input-placeholder {
  color: white;
}

.exchange {
  font-size: 5rem;
  color: #5050dd;
}

small {
  color: rgb(94, 94, 94);
}

div.right {
  margin-top: 100px;
}

div.hide {
  display: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: auto;
  width: 400px;
  animation-name: slide-right;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@keyframes slide-left {
  0% {
    transform: translateX(-500px);
  }
  75% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(500px);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    /* width: 700px; */
  }
  75% {
    /* width: 400px; */
  }
  100% {
    /* width: 600px; */
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .top-shape {
    width: 200px;
  }
  .bottom-shape {
    width: 200px;
  }
  .right-shape {
    width: 200px;
  }
  .landing img {
    width: 500px;
  }
  .right {
    display: block;
  }
  .hero-page {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .card {
    /* background: none; */
  }
  .symbol-currency {
    color: rgb(158, 158, 158);
  }
  small.to {
    color: rgb(94, 94, 94);
  }
  small.rate {
    color: rgb(158, 158, 158);
  }
}

@media (max-width: 1100px) {
  .top-shape {
    width: 200px;
  }
  .bottom-shape {
    width: 200px;
  }
  .right-shape {
    width: 200px;
  }
  .landing img {
    width: 500px;
  }
  small.rate {
    color: rgb(158, 158, 158);
  }
  .symbol-currency {
    color: rgb(158, 158, 158);
  }
  small.to {
    color: rgb(158, 158, 158);
  }
  .right {
    display: block;
  }
  .hero-page {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  nav {
    margin-right: 0;
  }
  #convert-to {
    color: rgb(109, 109, 109);
  }
  #convert-to::-webkit-input-placeholder {
    color: rgb(109, 109, 109);
  }
  .ratings {
    color: rgb(94, 94, 94);
  }
}

@media (max-width: 550px) {
  .top-shape {
    width: 200px;
  }
  .bottom-shape {
    width: 200px;
  }
  .right-shape {
    width: 200px;
  }
  .landing {
    /* margin-top: 200px; */
  }
  .landing img {
    width: 400px;
    margin-top: 150px;
  }
  .right {
    display: block;
  }
  .hero-page {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  nav {
    margin-right: 0;
    right: 0;
    left: 0;
  }
  ul {
    justify-items: center;
    width: 300px;
    margin-top: 50px;
  }
  .logo {
    display: grid;
    justify-items: center;
    position: relative;
    left: 0;
    right: 0;
  }
  small.rate {
    color: rgb(158, 158, 158);
  }
  .card {
    width: 300px;
    height: 400px;
    margin-top: 50px;
  }
  .calc-loader {
    width: 300px;
    height: 400px;
  }
  .base-currency,
  #convert-from {
    font-size: 1rem;
  }
  select {
    width: 50px;
  }
  #convert-from {
    width: 200px;
  }
  .symbol-currency {
    font-size: 1rem;
  }
  #convert-to {
    font-size: 1rem;
  }
  .landing img {
    width: 300px;
    margin: auto;
    padding-top: 150px;
    /* margin-top: 150px; */
  }
  .bottom-shape {
    display: none;
  }
  .right-shape {
    display: none;
  }
}
